<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Realert</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Realert.styles.css" asp-append-version="true" />
</head>
<body class="flex flex-col h-screen">
    <header class="bg-green-500 p-2 mb-4 sm:p-4">
        <nav>
            <div class="flex items-center justify-between gap-8">
                <div class="py-2 px-4 ring-4 ring-white ring-inset">
                    <a class="text-3xl font-bold text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        ReAlert
                    </a>
                </div>
                <div class="hidden sm:block">
                    <ul>
                        <li>
                            <a class="text-white text-base font-bold py-1 pr-2 border-r-2 hover:underline" asp-area="" asp-controller="PriceAlertNotification" asp-action="Index">
                                Price Alert
                            </a>
                            <a class="text-white text-base font-bold ml-2 hover:underline" asp-area="" asp-controller="NewPropertyAlertNotification" asp-action="Index">
                                New Property Alert
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="mb-auto p-2 sm:p-4">
        <main role="main" class="max-w-screen-xl mx-auto">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-green-500 mt-4 p-2 sm:p-4">
        <div class="max-w-screen-xl mx-auto font-medium text-base text-center text-gray-900">
            &copy; 2023  -  ReAlert  -  
            <a class="hover:underline" href="https://github.com/danchance/realert" target="_blank">GitHub</a>
        </div>
    </footer>
    <div class="bg-green-400 bg-purple-700" hidden aria-hidden="true" ></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
