@model Realert.Models.NewPropertyAlertSetupViewModel

@{
}

<form onsubmit="handleSearchLinkForm(event)">
    <div class="">
        <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Search Link</label>
            <div class="grid grid-cols-5 gap-x-4">
                <div class="flex col-span-3">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 50 50" width="50px" height="50px">
                            <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z" />
                        </svg>
                    </span>
                    <input id="property-link" type="text" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search results link">
                </div>
                <button type="submit" class="w-fit h-fit col-span-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Go</button>
            </div>
            <span id="property-link-error" class="block mt-2 text-red-500 text-sm"></span>
        </div>
    </div>
</form>
<form asp-action="" class="hidden" id="new-property-alert-form">
    <div class="mb-4">
        <h2 class="text-sm font-medium text-gray-900 dark:text-white">Setup notification for: <span id="target-site" class="font-normal"></span></h2>
    </div>
    <div class="grid grid-cols-2 gap-8 mb-4">
        <div>
        <label asp-for="NotificationName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Name</label>
        <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z" />
                </svg>
            </span>
            <input asp-for="NotificationName" type="text" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Give the notification a name">
        </div>
        <span asp-validation-for="NotificationName" class="block mt-2 text-red-500 text-sm"></span>
        </div>
        <div>
        <label asp-for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 128 96">
                    <path d="M0 11.283V8a8 8 0 0 1 8-8h112a8 8 0 0 1 8 8v3.283l-64 40zm66.12 48.11a4.004 4.004 0 0 1-4.24 0L0 20.717V88a8 8 0 0 0 8 8h112a8 8 0 0 0 8-8V20.717z" data-name="Layer 2" />
                </svg>
            </span>
            <input asp-for="Email" type="text" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email address">
        </div>
            <span asp-validation-for="Email" class="block mt-2 text-red-500 text-sm"></span>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-8 mb-4">
        <div>
            <label asp-for="NotificationFrequency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Frequency</label>
            <select asp-for="NotificationFrequency" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="1">Everyday</option>
                <option value="3">Every 3 days</option>
                <option value="7">Every week</option>
            </select>
        </div>
        <div>
            <label asp-for="PropertyType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Property Type</label>
            <select asp-for="PropertyType" id="property-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="">Any</option>
                <option value="houses">Houses</option>
                <option value="flats">Flats</option>
                <option value="bungalows">Bungalows</option>
                <option value="land">Land</option>
                <option value="commercial">Commercial Property</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-8 mb-8">
        <div>
            <label asp-for="Location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
            <input asp-for="Location" id="location" type="text" aria-label="disabled input" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Property location" readonly>
            <span id="location-message" class="block mt-2 text-amber-500 text-sm"></span>
        </div>
        <div>
            <label asp-for="SearchRadius" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Search Radius</label>
            <select asp-for="SearchRadius" id="search-radius" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="0">This postcode only</option>
                <option value="0.25">1/4 mile</option>
                <option value="0.5">1/2 mile</option>
                <option value="1.0">1 mile</option>
                <option value="3.0">3 miles</option>
                <option value="5.0">5 miles</option>
                <option value="10.0">10 miles</option>
                <option value="15.0">15 miles</option>
                <option value="20.0">20 miles</option>
                <option value="30.0">30 miles</option>
                <option value="40.0">40 miles</option>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-8 mb-4">
        <div class="grid grid-cols-3 items-center gap-x-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price Range</label>
            <select asp-for="MinPrice" id="min-price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="0">No min</option>
                <option value="50000">£50,000</option>
                <option value="60000">£60,000</option>
                <option value="70000">£70,000</option>
                <option value="80000">£80,000</option>
                <option value="90000">£90,000</option>
                <option value="100000">£100,000</option>
                <option value="110000">£110,000</option>
                <option value="125000">£125,000</option>
                <option value="130000">£130,000</option>
                <option value="140000">£140,000</option>
                <option value="150000">£150,000</option>
                <option value="160000">£160,000</option>
                <option value="170000">£170,000</option>
                <option value="180000">£180,000</option>
                <option value="190000">£190,000</option>
                <option value="200000">£200,000</option>
                <option value="210000">£210,000</option>
                <option value="220000">£220,000</option>
                <option value="230000">£230,000</option>
                <option value="240000">£240,000</option>
                <option value="250000">£250,000</option>
                <option value="260000">£260,000</option>
                <option value="270000">£270,000</option>
                <option value="280000">£280,000</option>
                <option value="290000">£290,000</option>
                <option value="300000">£300,000</option>
                <option value="325000">£325,000</option>
                <option value="350000">£350,000</option>
                <option value="375000">£375,000</option>
                <option value="400000">£400,000</option>
                <option value="425000">£425,000</option>
                <option value="450000">£450,000</option>
                <option value="475000">£475,000</option>
                <option value="500000">£500,000</option>
                <option value="550000">£550,000</option>
                <option value="600000">£600,000</option>
                <option value="650000">£650,000</option>
                <option value="700000">£700,000</option>
                <option value="800000">£800,000</option>
                <option value="900000">£900,000</option>
                <option value="1000000">£1,000,000</option>
            </select>
            <select asp-for="MaxPrice" id="max-price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="0">No max</option>
                <option value="50000">£50,000</option>
                <option value="60000">£60,000</option>
                <option value="70000">£70,000</option>
                <option value="80000">£80,000</option>
                <option value="90000">£90,000</option>
                <option value="100000">£100,000</option>
                <option value="110000">£110,000</option>
                <option value="125000">£125,000</option>
                <option value="130000">£130,000</option>
                <option value="140000">£140,000</option>
                <option value="150000">£150,000</option>
                <option value="160000">£160,000</option>
                <option value="170000">£170,000</option>
                <option value="180000">£180,000</option>
                <option value="190000">£190,000</option>
                <option value="200000">£200,000</option>
                <option value="210000">£210,000</option>
                <option value="220000">£220,000</option>
                <option value="230000">£230,000</option>
                <option value="240000">£240,000</option>
                <option value="250000">£250,000</option>
                <option value="260000">£260,000</option>
                <option value="270000">£270,000</option>
                <option value="280000">£280,000</option>
                <option value="290000">£290,000</option>
                <option value="300000">£300,000</option>
                <option value="325000">£325,000</option>
                <option value="350000">£350,000</option>
                <option value="375000">£375,000</option>
                <option value="400000">£400,000</option>
                <option value="425000">£425,000</option>
                <option value="450000">£450,000</option>
                <option value="475000">£475,000</option>
                <option value="500000">£500,000</option>
                <option value="550000">£550,000</option>
                <option value="600000">£600,000</option>
                <option value="650000">£650,000</option>
                <option value="700000">£700,000</option>
                <option value="800000">£800,000</option>
                <option value="900000">£900,000</option>
                <option value="1000000">£1,000,000</option>
            </select>
        </div>
        <div class="grid grid-cols-3 items-center gap-x-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number of Bedrooms</label>
            <select asp-for="MinBeds" id="min-beds" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="">No min</option>
                <option value="0">Studio</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select asp-for="MaxBeds" id="max-beds" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="">No max</option>
                <option value="0">Studio</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
    <input asp-for="TargetSite" id="location" type="text" aria-label="disabled input" class="hidden bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Setup Property Alert</button>
</form>
<script src="~/js/Home/NewPropertyAlertForm.js" asp-append-version="true"></script>