@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="mb-8">
        <partial name="~/Views/Home/_PriceAlertForm.cshtml" />
    </div>
    <dvi>
        <partial name="~/Views/Home/_NewPropertyAlertForm.cshtml" />
    </dvi>
</div>
