@{
    ViewData["Title"] = "Home";
}

<div>
    <a asp-area="" asp-controller="PriceAlertNotification" asp-action="Index">Setup Price Alert.</a>
    <a asp-area="" asp-controller="NewPropertyAlertNotification" asp-action="Index">Setup New Property Alert.</a>
</div>
